:8080 {
  root * /srv

  reverse_proxy /tiles/* http://fisher-pgtilserv:7800
  reverse_proxy /api/* http://fisher-habitat:8000

  try_files {path} /index.html
  file_server
}

:2016 {
    respond /health 200
    
    log {
      # errors stdout
      output discard 
      #format single_field common_log
  }
}